* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #425cc5, #2c3d90);
  color: white;
}

.container {
  max-width: 800px;
  width: 100%;
  background-color: #9220af;
  border-radius: 16px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  padding: 20px;
}

h1 {
  grid-column: 1/-1;
  text-align: center;
  place-self: start center;
}

.box {
  width: 100%;
  min-height: 300px;
  background-color: #bba1bd;
  color: black;
  border-radius: 14px;
  padding: 10px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.box h3 {
  width: 100%;
  text-align: center;
  color: #3a003f;
  margin-bottom: 10px;
}

.item {
  width: 100%;
  border-radius: 8px;
  padding: 5px 8px 5px 20px;
  cursor: grab;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

#to-do .item {
  background-color: rgb(250, 147, 168);
}
#to-do .item::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: red;
  z-index: 999;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translate(0, -50%);
}

#in-progress .item {
  background-color: rgb(136, 177, 246);
}
#in-progress .item::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: rgb(56, 45, 255);
  z-index: 999;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translate(0, -50%);
}

#done .item {
  background-color: rgb(92, 245, 120);
}
#done .item::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: rgb(223, 255, 45);
  z-index: 999;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translate(0, -50%);
}
