* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #385435, #349c3b);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr 6fr;
  gap: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
  min-height: 90vh;
  max-width: 90%;
}
h1 {
  grid-column: 1 / -1;
  text-align: center;
}
#balance-box {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: linear-gradient(90deg, #415777, #0b4d9d);
  border-radius: 14px;
  padding: 20px;
  gap: 20px;
}
#balance-box p {
  grid-column: 1 / -1;
  text-align: center;
  color: #fff;
}
#balance-box h2 {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color: #fff;
}
.info-box {
  background-color: #fff;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
#income-info p {
  color: green;
}
#expense-info p {
  color: red;
}
#income-number {
  font-size: 1.5rem;
  font-weight: 700;
  color: green;
}
#expense-number {
  font-size: 1.5rem;
  font-weight: 700;
  color: red;
}

#transactions {
  background-color: #fff;
  width: 100%;
}
#transactions p {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 50px;
  background-color: #f1f1f1;
  margin-top: 5px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}
.item:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.item-info-end {
  display: flex;
  align-items: center;
}
.item img {
  visibility: hidden;
  margin-left: 5px;
  align-self: center;
}
.item:hover .delete-btn {
  visibility: visible;
}
.delete-btn {
  visibility: hidden;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-image: url("assets/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
}
.delete-btn:hover {
  cursor: pointer;
}

.income {
  background-color: rgb(250, 235, 235);
  border-right: 5px solid red;
}
.expense {
  background-color: rgb(232, 247, 232);
  border-right: 5px solid green;
}

#transaction-input {
  background-color: #f1f1f1;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
